/*This is the stying for major project - interactive timeline*/
/* page colorrscheme background: #FEF2E8  accent:#7960B3 */

* {
  font-family: 'Spectral', serif;
  background-image: none;
}
body{
  background-color: #FEF2E8;
  margin: 0;
  padding: 0;
}
#gridContainer{
  display: grid;
  grid-template-columns: 20% 60%;
  grid-gap: 5%;
}

/*timeline styles start here*/
#timeline{
  background-color: #FEF2E8;
  border: .5vh solid  #7960B3;
}

#timeline li a{
  list-style-type: none;
  text-decoration:none;
  color: #000000;  
}


/*Styling for main content starts here*/

#content{
  border: .5vh solid  #7960B3;
  padding: 1vh;
  background-image:none;
}

#content h1{
  font-family: 'Secular One', sans-serif;
  margin: 0;
}

#content h4{
  margin: 0;
}

/*footer starts here*/
#footer{
  background-color:#7960B3;
  margin: 0;
  padding: 0;
  width: 100%;
}

#footer a p{
  margin-left: 5em;
  margin-bottom: 0;
}


