/*This is the stying for major project - interactive timeline*/
/* page colorrscheme background: #FEF2E8  accent:#7960B3 */

* {
  font-family: 'Spectral', serif;
}
body{
  background-color: #FEF2E8;
  background-image: none;
  margin: 0;
  padding: 0;
}
#gridContainer{
  display: grid;
  grid-template-columns: 20% 60%;
  grid-gap: 5%;
  margin: 2em;
}

/*timeline styles start here*/
#timeline{
  background-color: #FEF2E8;
  border: .5vh solid  #7960B3;
}

#timeline li{
  list-style-type: none;
}

#timeline a{
  text-decoration: none;
  color: #000000;  
}

#timeline a:hover{
  color: #7960B3;  
}
.movement{
  font-weight: bold;
}/*movement class to highlight "clickable" dates*/

/*Styling for main content starts here*/

#content{
  border: .5vh solid  #7960B3;
  padding: 1vh;
  background-color: #FEF2E8;
}

#content h1{
  font-family: 'Secular One', sans-serif;
  margin: 0;
}

#content h4{
  margin: 0;
}

/*footer starts here*/
#footer{
  position: absolute;
  background-color:#7960B3;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

#footer p{
  margin-left: 5em;
  margin-bottom: 0;
}
#footer a{
  margin-left: 5em;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
}
#footer a:hover{
  margin-left: 5em;
  margin-bottom: 0;
  text-decoration: none;
  color: yellow;
}

